@charset "utf-8";
main{
    width: 800px;
    margin: auto;
}
article{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px;
    grid-gap: 10px;
}
article div{
    border: 1px solid gray;
}
article div img{
    width: 100%;
}